---
import Logo from '../assets/Logo.svg'
---
<section class="flex items-center justify-between h-48 max-w-7xl mx-auto">
    <a href="/"><Logo /></a>
    <nav>
        <ul><li><a href="/kontakt">Kontakt</a></li></ul>
    </nav>
</section>
